@font-face {
    font-family: FiraSans;
    src: url(FiraSans-Regular.ttf);
}


body{
    background-color:mediumspringgreen;
    height:100vh;
    font-family:FiraSans;
    position:relative;
}


button{
    border:none;
    background:none;
    font-family:FiraSans;
    font-size:1rem;
    padding:5px;
    border:solid rgba(0, 138, 85, 0.708);
    border-radius:5px;
}

.start1person button:hover {
    box-shadow:2px 2px 2px rgb(0, 193, 241);
    cursor:pointer;
}

.start1person button:active {
    cursor:pointer;
    box-shadow:none;
    transform:translate(2px,2px);
}

.gameBoard {
    display:grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 50px 200px 200px 200px 50px;
    gap:20px;
    justify-content: center;
    height:100vh;
    align-content:center;
    position:relative;
}



.turnAnnouncer {
    grid-column:1/4;
    justify-self:center;
    font-size:2rem;
    font-weight:20px;
    text-shadow:2px 2px rgba(128, 128, 128, 0.573);
}

.start1person{
    grid-column:1/4;
    justify-self:center;
    align-self:end;
}


.boardPiece {
    border:solid black;
    border-radius:10px;
    box-shadow:5px 5px 2px rgb(63, 63, 63);
    position:relative;
}

.boardPiece:hover {
    box-shadow:5px 5px 2px rgb(0, 193, 241);
    cursor:pointer;
}

.boardPiece:active{
    cursor:pointer;
    box-shadow:none;
    transform:translate(5px,5px);

}

.X::after {
position:absolute;
content:url(x.svg);
transform:scale(7);
top:100px;
left:83px;
}


.O::after {
position:absolute;
content:url(circle.svg);
transform:scale(5);
top:95px;
left:83px;
}

.form {
grid-column:1/4;
justify-self: center;
margin-right:105px;
display:grid;
grid-template-rows:50px 50px;
}

input[type="text"] {
    appearance:none;
    border:solid 2px rgba(0, 138, 85, 0.708);
    border-radius:10px;
    padding:5px;
    outline:none;
    color:rgb(0, 117, 128);
    background-color:rgb(220, 220, 255);
    width:87px;
}

.hidden {
    visibility:hidden;
}

#redOutline {
    border:solid 3px red;
}

.gameSelect {
    position: absolute;
    width:100vw;
    text-align:center;
    bottom:50%;
}

.gameSelect div {
    font-size:1.2rem;
    margin-bottom:15px;
    position:relative;
}

.gameSelect input {
    appearance:none;
    position:absolute;
    bottom:3px;
    margin-left:20px;
    width:1.4em;
    height:1.4em;
    border: .3em solid rgba(0, 138, 85, 0.708);
    border-radius:4px;
}

.gameSelect input:hover {
    box-shadow:2px 2px 2px rgb(0, 193, 241);
    cursor:pointer;
}

.gameSelect input:active,
.gameSelect input:checked {
    cursor:pointer;
    box-shadow:none;
    transform:translate(2px,2px);
    background-color:rgba(0, 138, 85, 0.708);
}



.gameSelect 

.selectContainer {
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}

@media (width<=800px) {
    body{
        background-color:mediumspringgreen;
        font-family:FiraSans;
        position:relative;
    }
    button{
        border:none;
        background:none;
        font-family:FiraSans;
        font-size:1rem;
        padding:5px;
        border:solid rgba(0, 138, 85, 0.708);
        border-radius:5px;
    }
    
    .start1person button:hover {
        box-shadow:2px 2px 2px rgb(0, 193, 241);
        cursor:pointer;
    }
    
    .start1person button:active {
        cursor:pointer;
        box-shadow:none;
        transform:translate(2px,2px);
    }
    
    .gameBoard {
        display:grid;
        grid-template-columns: 75px 75px 75px;
        grid-template-rows: 20px 75px 75px 75px 20px;
        gap:20px;
        justify-content: center;
        height:100vh;
        align-content:center;
        position:relative;
    }
    
    
    
    .turnAnnouncer {
        grid-column:1/4;
        justify-self:center;
        font-size:.8rem;
        font-weight:30px;
        text-shadow:2px 2px rgba(128, 128, 128, 0.573);
    }
    
    .start1person{
        grid-column:1/4;
        justify-self:center;
        align-self:start;
    }
    
    
    .boardPiece {
        border:solid black;
        border-radius:10px;
        box-shadow:5px 5px 2px rgb(63, 63, 63);
        position:relative;
    }
    
    .boardPiece:hover {
        box-shadow:5px 5px 2px rgb(0, 193, 241);
        cursor:pointer;
    }
    
    .boardPiece:active{
        cursor:pointer;
        box-shadow:none;
        transform:translate(5px,5px);
    
    }
    
    .X::after {
    position:absolute;
    content:url(x.svg);
    transform:scale(3);
    top:30px;
    left:23px;
    }
    
    
    .O::after {
    position:absolute;
    content:url(circle.svg);
    transform:scale(2);
    top:25px;
    left:22px;
    }
    
    .form {
    grid-column:1/4;
    justify-self: center;
    margin-right:30px;
    margin-top:20px;
    display:grid;
    grid-template-rows:50px 50px;
    }
    
    input[type="text"] {
        appearance:none;
        border:solid 2px rgba(0, 138, 85, 0.708);
        border-radius:10px;
        padding:5px;
        outline:none;
        color:rgb(0, 117, 128);
        background-color:rgb(220, 220, 255);
        width:87px;
    }
    
    .hidden {
        visibility:hidden;
    }
    
    #redOutline {
        border:solid 3px red;
    }
    
    .gameSelect {
        position: absolute;
        width:100vw;
        text-align:center;
        bottom:50%;
    }
    
    .gameSelect div {
        font-size:1.2rem;
        margin-bottom:15px;
        position:relative;
    }
    
    .gameSelect input {
        appearance:none;
        position:absolute;
        bottom:3px;
        margin-left:20px;
        width:1.4em;
        height:1.4em;
        border: .3em solid rgba(0, 138, 85, 0.708);
        border-radius:4px;
    }
    
    .gameSelect input:hover {
        box-shadow:2px 2px 2px rgb(0, 193, 241);
        cursor:pointer;
    }
    
    .gameSelect input:active,
    .gameSelect input:checked {
        cursor:pointer;
        box-shadow:none;
        transform:translate(2px,2px);
        background-color:rgba(0, 138, 85, 0.708);
    }
    
    
    
    .gameSelect 
    
    .selectContainer {
        display:flex;
        flex-direction: column;
        justify-content:space-between;
    }
    
}

@media (height<=800) {

    }
